<!DOCTYPE HTML>
<html>
<head>
    <title>Where are velibs ?</title>
    <!-- jquery -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <!-- css file -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/heatmap.css') }}">
    <!-- heatmap_index.js -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/heatmap_index.js') }}"></script>
</head>
<body>
    <!-- HTML part -->
    <h1>Real Time visualisation of Velibs bikes in Paris. (<a href="/flux">see velib flux</a>)</h1>
    <br>
    <br>
    <h3>Wait a few seconds to see the realtime map.</h3>

    <!-- the div is a container for google map -->
    <div id="map"></div>

    <!-- scripts -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeMLsnT0C43lw_8ahFoi2yZNmoIezCyAk&libraries=visualization&callback=initMap"></script>
</body>
</html>
